.navbar-container {
  border-bottom: 0.0625rem solid #d3d3d3;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: -1.5rem -3.5rem 0 -3.5rem; */
  padding: 1.5rem 3.5rem 1.25rem 3.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  z-index: 1;
}

.modal-header{
  display: none;
}

.navbar-logo {
  height: 2.5rem;
  filter: invert(1);
}

.navbar-btn a,
.modal-btn a {
  text-decoration: none;
}

.nav-list {
  display: flex;
  padding: 0px 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.nav-list-modal {
  display: flex;
  flex-direction: column;
  padding: 0px 0.625rem;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}

.menu-modal.hidden .nav-list-modal a,
.menu-modal.hidden .modal-btn {
  margin-bottom: -20%;
}

.menu-modal.visible .nav-list-modal a,
.menu-modal.visible .modal-btn {
  margin-bottom: 0%;
}

.nav-list a{
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}
.nav-list-modal a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}

.nav-list a:visited{
  color: white;
}
.nav-list-modal a:visited {
  color: black;
}

.icon-btn {
  display: none;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .navbar-btn,
  .nav-list {
    display: none;
  }

  .icon-btn,
  .menu-modal {
    display: inline-flex;
  }
  .navbar-container {
    padding-bottom: 0.75rem;
  }
}

@media screen and (min-width: 769px) {
  .menu-modal {
    display: none;
  }
}

.navbar-menu-icon {
  height: 1.5em;
}

.menu-modal {
  background: none;
  box-sizing: border-box;
  position: absolute;
  top: calc(100% + 1.5px);
  width: 100%;
  /* height: calc(100vh); */
  opacity: 1;
  z-index: 999;
}

.modal-main{
  background-color: #f3f3f3;
  width: 100%;
  border-bottom: solid 2px #d3d3d3;
  padding: 2rem 2rem;
  gap: 4rem;
}

.menu-modal.visible {
  opacity: 1;
  /* display: none; */
  left: 0%;
  transition: all 0.8s cubic-bezier(1, 0, 0, 1);
  position: absolute;
}

.menu-modal.hidden {
  opacity: 0;
  /* display: none; */
  left: 0%;
  transition: all 0.8s cubic-bezier(1, 0, 0, 1);
}

.menu-modal .modal-btn {
  margin-top: auto;
  margin-right: auto;
}

@media screen and (max-width: 1279px) {
  .navbar-container {
    /* margin: -1rem -3rem 0 -3rem; */
    padding: 1rem 3rem 1.25rem 3rem;
  }
}
@media screen and (max-width: 1023px) {
  .navbar-container {
    /* margin: -0.75rem -2.75rem 0 -2.75rem; */
    padding: 1rem 2.75rem 1rem 2.75rem;
  }
}
@media screen and (max-width: 767px) {
  .navbar-container {
    /* margin: -0.5rem -2.5rem 0 -2.5rem; */
    padding: 0.75rem 2.5rem 0.75rem 2.5rem;
  }
}
